.favfood{
    background-position: center;
    height: 50vh !important;
    background-repeat: no-repeat;
    top: 200px
}

.custom-line{
    color: #ff8c00 !important;
    height: 25px;
    opacity: 1;
}