<div class="container">
    <div *ngIf="even" class="row mt-5">
        <div class="col-lg-6">
            <div class="img-warper">
                <img [src]="rngRecipes.image">
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">{{rngRecipes.title}}</h4><br>
            <p [innerHTML]="rngRecipes.instructions"></p>
        </div>
        <app-favorite-btn klass="btn btn-success mt-5" btnText="Favorite"></app-favorite-btn>
    </div>

    <div *ngIf="!even" class="row mt-5">
        <div class="col-lg-6">
            <h4 class="text-center">{{rngRecipes.title}}</h4><br>
            <p [innerHTML]="rngRecipes.instructions"></p>
        </div>
        <div class="col-lg-6">
            <div class="img-warper">
                <img [src]="rngRecipes.image">
            </div>
        </div>
        <app-favorite-btn klass="btn btn-success mt-5" btnText="Favorite"></app-favorite-btn>
    </div>

    <hr class="custom-line">
</div>